.profile__container {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 800px) {
  .profile__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
  }
} 