.popup__image-caption {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  margin-top: 10px;
  align-self: start;
}

@media screen and (max-width: 549px) {
  .popup__image-caption {
    margin-left: 0;
  }
}
