.elements {
  max-width: 880px;
  min-height: 50vh;
  margin: 0 auto 67px;
}

@media screen and (max-width: 1023px) {
  .elements {
    width: calc(100% - 144px);
  }
}

@media screen and (max-width: 767px) {
  .elements {
    width: calc(100% - 72px);
  }
} 

@media screen and (max-width: 424px) {
  .elements {
    margin: 0 auto 48px;
    width: calc(100% - 38px);
  }
} 