.footer {
  max-width: 880px;
  margin: 0 auto;
  padding-bottom: 60px;
}

@media screen and (max-width: 1023px) {
  .footer {
    width: calc(100% - 144px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: calc(100% - 72px);
    padding-bottom: 36px;
  }
} 

@media screen and (max-width: 424px) {
  .footer {
    width: calc(100% - 38px);
  }
} 